 <section class="input col-xs-12">
  <section class="col-xs-12">
    <span class="col-xs-2" translate="taskid1"></span>
    <input type="textbox" name="taskid" class="taskid col-xs-9" ng-model="newtaskid">
  </section>
  <section class="col-xs-12" >
    <span class="col-xs-2" translate="taskname1"></span>
    <input type="textbox" name="taskname" class="taskname col-xs-9" ng-model="newtaskname">
  </section>
  <section class="taskadding">
    <span class="taskadd" ng-click="addtask()" translate="add1"></span>
    <span class="taskadd cancel" ng-click="canceloption()" translate="cancel1"></span>
  </section>
</section>