.wrapper{
	width: 100%;
	background-color: #2d7f04;
	padding-bottom: 25.7%;

}
h1{
	font-size: 50px;
	text-align: center;
	padding: 30px;
	text-shadow: 5px 5px 10px;
}
header{
	background-color: #369508;
	padding: 20px;
}
.clear{
	clear: both;
}
header ul li{
	float: left;
	padding-left: 40px;
	font-weight: bold;
	font-family: sans-serif;
}
header ul li a{
	text-decoration: none;
	color: #000;
}
header ul li a:hover{
	text-decoration: none;
	color: #000;
}
header ul{
	float: right;
}
.posts{
	padding-top: 2%;
	margin-left: 4%;
}
.post1{
	padding: 10px;
	border-radius: 10px;
	background-color: #37aa05;
	opacity: 0.7;
	box-shadow: 10px 10px 30px 10px;
}
.postname{
	font-size: 25px;
	font-weight: bolder;
}
.username{
	font-size: 20px;
	font-style: italic;
	padding-left: 10px;
}
.postcontent{
	text-align:center;
	padding-top: 10px;
	font-weight: bolder;
}
.time{
	float: right;
	padding-top: 10px;
	font-size: 20px;
	font-style: italic;
}
.wrapperlogin{
	width: 100%;
	background-color: #2d7f04;
	padding-bottom: 25.7%;

}
.login{
	margin-left: 33%;
	box-shadow: 10px 10px 60px 20px;
	text-align:center;
	background-color: #369508;
	padding: 30px;
	margin-top: 30px;
	border-radius: 10px;
}
.login button{
	margin-left: 20px;
	background-color:#2d7f04; 
	border:0px;
	font-size: 20px;
	font-weight: bolder;
	font-style: oblique;
	padding: 10px 25px;
	margin-top: 10px;
}
.login button a{
	text-decoration:none;
	color: #000;
}
.login p{
	padding: 20px;
}
.login input{
	padding: 5px;
	border-radius: 10px;
}
.login p span{
	font-size: 20px;
	font-weight: bolder;
	font-style: italic;
}
@media screen and (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media screen and (min-width: 1200px) {}